.analyticsCard
  display: flex
  flex-direction: column
  justify-content: space-evenly
  align-items: flex-start
  width: 100%
  height: 51%

  .ant-statistic .ant-statistic-content .ant-statistic-content-value
    font-size: 30px

  .logo2
    width: 24px
    height: 24px
    display: block
    font-size: 15px
    text-align: center
    border-radius: 5px
    float: left
    margin-right: 3px