# 忽略 node_modules 目录，因为它包含大量的依赖项，可以在构建镜像时通过 npm/yarn 安装
node_modules

# 忽略构建生成的目录，例如 build 或 dist，因为这些文件可以在构建镜像时重新生成
build
dist

# 忽略开发环境相关的配置文件
.env
.env.development
.env.local
.env.*.local

# 忽略编辑器生成的临时文件
.DS_Store
.idea
.vscode

# 忽略日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略测试报告和覆盖率文件
coverage

# 忽略其他不需要的文件或目录
.git
.gitignore
.dockerignore
README.md
LICENSE
