<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.linmoblog.server.Mapper.FriendsMapper">

    <delete id="deleteFriend">
        delete from friends where friend_key in
        <foreach collection="friendKey" item="key" open="(" separator="," close=")">
            #{key}
        </foreach>
    </delete>
</mapper>