<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.linmoblog.server.Mapper.TalkMapper">
    <update id="updateTalk">
        update talks
        <set>
            <if test="talk.talkTitle != null and talk.talkTitle != ''">
                talk_title = #{talk.talkTitle},
            </if>
            <if test="talk.content != null and talk.content != ''">
                content = #{talk.content},
            </if>
            update_time = #{talk.updateTime}
        </set>
        where talk_key = #{id}
    </update>
</mapper>