.articleRecord
  position: absolute
  left: 265px
  top: 35px
  width: 680px
  height: auto
  border-radius: 10px
  box-sizing: border-box
  .articleRecordImg
    width: 680px
    height: auto
    background-color: white
    border-radius: 10px
    box-shadow: 2px 12px 12px 2px #d7d6d6

    img
      margin: 10px

  .articleRecordBox
    width: 660px
    height: 550px

    margin-top: 10px

    h3
      margin-left: 15px

    .articleRecordCard
      width: 660px
      height: 120px
      background-color: rgba(255,255,255,0.33)
      margin: 10px
      border-radius: 10px

      &::before
        content: ''
        width: 3px
        height: 120px
        background-color: #484f58
        position: absolute
        left: -5px
        border-radius: 10px

